body{
  background-image: url("http://localhost:1337/uploads/2081930_1_3cda77d7b8.jpg?updated_at=2022-03-10T16:11:27.107Z");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

h1{
  background-color: antiquewhite;
  max-width: fit-content;
  text-align: center;
  margin:0 auto;
}

h2{
  background-color: antiquewhite;
  max-width: fit-content;
  text-align: center;
  margin:0 auto;
}

.App {
  text-align: center;
  padding: 0px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card-body{
  padding-bottom: 100px;
}

img{
  max-width: 500px;
  max-height: 500px;
}